<h1 style="font-size: 16px; border-bottom: 1px solid #eee;"><span><%= @user.email %>様</span></h1>
<div style="padding: 15px 30px;">
  <h2 style="font-size: 14px;">お世話になっております。渋谷です。</h2>
  <p style="font-size: 10px;">
    ブログにコメント機能を実装しました！<br />
    技術記事の他にも、働き方や趣味に関することなど幅広く更新していくつもりです。<br />
    どんな些細なことでも、ご意見・ご指摘があればコメントいただけると幸いです。
    今後とも何卒よろしくお願い申し上げます。
  </p>
  <%= link_to 'ブログページ', blogs_url, style: 'font-size: 12px; border-radius: 3px; padding: 10px 14px; color: #fff; background-color: #343a40; text-decoration: none;' %>
</div>
