<div class="container">
  <div class="row">
    <div class="col-md-4 bai-jamjuree">
      <h1 class="blog-name"><i class="fab fa-blogger"></i> SignHack's Blog</h1>
      <% if current_user.try(:admin?) %>
        <%= link_to 'New Blog', new_blog_path, class: 'btn btn-dark btn-lg' %>
      <% end %>
    </div>

    <div class="col-md-8">
      <% if @pined_blog.present? %>
        <p><i class="fas fa-map-pin"></i> ピン留めされた投稿</p>
        <div class="pined mb-5">
          <%= render 'blog', blog: @pined_blog %>
        </div>
      <% end %>
      <% @blogs.each do |blog| %>
        <%= render 'blog', blog: blog %>
      <% end %>
    </div>
  </div>
</div>
