<style media="screen">
*
{
  box-sizing: border-box;
}

.profile-heading
{
  position: relative;
  text-align: center;
}

.profile-heading::before
{
  border-top: 1px solid;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.profile-heading span
{
  background-color: #fff;
  display: inline-block;
  padding: 0 0.5em;
  position: relative;
}

a, a:hover
{
  text-decoration: none;
}

.btn
{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s
}

.btn-dark
{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
</style>
<h1 class="profile-heading"><span><%= @email %>様</span></h1>
<div class="row">
  <h2>サイト管理者から承認されました！</h2>
  <p>
    Hiroto Shibutani (Web enginieer) のポートフォリオページにご登録いただきまして誠にありがとうございます。<br />
  </p>
  <%= link_to 'ポートフォリオサイト', root_url, class: 'btn btn-dark' %>
</div>
