<h1 style="font-size: 16px; border-bottom: 1px solid #eee;"><span><%= @user.email %>様</span></h1>
<div style="padding: 15px 30px;">
  <h2 style="font-size: 14px;">サイト管理者から承認されました！</h2>
  <p style="font-size: 10px;">
    Hiroto Shibutani (Web enginieer) のポートフォリオページにご登録いただきまして誠にありがとうございます。<br />
  </p>
  <%= link_to 'ポートフォリオサイト', root_url, style: "font-size: 12px; border-radius: 3px; padding: 10px 14px; color: #fff; background-color: #343a40; text-decoration: none;" %>
</div>
