<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email %>様が新しく登録しました。</h1>
    <p>
      管理者は直ちに確認を行い必要であればユーザーを承認してください。
    </p>
  </body>
</html>
