<span class="favorite">
  <% if blog.fav?(current_user) %>
    <%= link_to apis_favorite_path(blog.favorites.find_by(user_id: current_user.id)), method: :delete, remote: true do %>
      <i class="fas fa-star favorite-btn"></i>
    <% end %>
  <% else %>
    <%= link_to apis_favorites_path(blog_id: blog.id), method: :post, remote: true do %>
      <i class="far fa-star favorite-btn"></i>
    <% end %>
  <% end %>
  <%= blog.favorites.count %>
</span>
