@media all and (max-width: 480px) {
  .blog-wrapper
  {
    width: 320px;
  }
}

.blog-wrapper
{
  margin-bottom: 100px;
}

.blog-name
{
  font-size: 28px;
}

.media
{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
  color: #111;
}

.media:hover
{
  background: #eee;
}

.media-image-area
{
  width: 80px;
  height: 80px;
  text-align: center;
  position: relative;
}

.media-image-thumb
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 63px;
  height: 63px;
}

.media-body
{
  margin-left: 10px;
  .media-info
  {
    font-size: 12px;
  }

  .media-title
  {
    font-size: 18px;
  }

  .media-tags
  {
    .tag-list
    {
      margin: 0;
      padding: 0;
      list-style: none;
      .tag-list-item
      {
        margin-top: 8px;
        margin-right: 8px;
        padding: 3px 5px;
        color: #fff;
        background: #121212;
        border-radius: 5px;
        font-size: 12px;
        float: left;
      }
    }
  }
}

p code
{
  color: #4a4a4a;
  background-color: #eee;
  padding: .1em .4em;
  border-radius: 3px;
}

blockquote
{
  border-left: 5px solid #ddd;
  color: #777;
  padding: 1em;
  padding-right: 0;
  margin: 1.5em 0;
}

.pined article
{
  background-color: #eee;
  transition: 0.3s;
}

.pined article:hover
{
  color: #111;
  background-color: #ddd;
}

.news-area
{
  width: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
}

.news-heading
{
  color: #eee;
  background: #121212;
  font-size: 18px;
  margin: 0;
  padding: 15px 10px;
}

ul.news-wrapper
{
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  overflow: scroll;
  @media all and (min-width: 480px) {
    height: 400px;
  }
  @media all and (max-width: 480px) {
    height: 200px;
  }
}

ul.news-wrapper > li
{
  margin: 0;
  padding: 15px 0;
  transition: .8s;
  border-bottom: 1px solid #ccc;
  &:hover
  {
    background-color: #eee;
  }
  & .news-content
  {
    padding: 0 15px;
    word-break: break-all;
  }
}

.blogs-back-content
{
  position: relative;
}

.blogs-back-area
{
  position: absolute;
  right: 100px;
  bottom: 30px;
}

.blogs-back-btn
{
  position: fixed;
  left: auto;
  @media all and (max-width: 480px) {
    font-size: 32px;
    bottom: 80px;
  }
  @media all and (min-width: 480px) {
    font-size: 48px;
    bottom: 110px;
  }
  & i
  {
    @media all and (max-width: 480px) {
      width: 65px;
      height: 65px;
      line-height: 65px;
    }
    @media all and (min-width: 480px) {
      width: 95px;
      height: 95px;
      line-height: 95px;
    }
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 50%;
  }
}
