nav#global-nav
{
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4);

  &.open
  {
    height: 350px;
    background-color: rgba(0, 0, 0, .8);
  }

  ul
  {
    @media all and (min-width: 480px)
    {
      padding-top: 80px;
      padding-left: 80px;
    }

    @media all and (max-width: 480px)
    {
      padding-top: 80px;
      padding-left: 10px;
    }

    li
    {
      list-style: none;
      &.auth-menu
      {
        color: #ddd;
        padding-left: 45px;
      }
      a
      {
        padding: 10px 50px;
        display: inline-block;
        text-decoration: none;
        color: lighten(#fff, 30%);
        transition: .3s;
        &.auth-menu-item
        {
          padding: 10px 5px;
        }
        &:hover
        {
          color: #aaa;
        }
      }
    }
  }
}

.navToggle
{
  @media all and (min-width: 480px)
  {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 80px;
    transition-duration: 0.5s;
  }

  @media all and (max-width: 480px)
  {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    left: 10px;
    transition-duration: 0.5s;
  }

  .icon
  {
    transition-duration: 0.25s;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 30px;
    left: 15px;
    background-color: #000;

    &:before, &:after
    {
      transition-duration: 0.25s;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #000;
      content: "";
    }

    &:before
    {
      top: -7px;
      left: 0;
    }

    &:after
    {
      top: 7px;
      left: 0;
    }
  }

  &:hover
  {
    cursor: pointer;

    .icon
    {
      &:before
      {
        top: -10px;
      }

      &:after
      {
        top: 10px;
      }
    }
  }

  &.open
  {
    transition-duration: 1s;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

    .icon
    {
      transition-duration: 0.5s;
      background-color: transparent;

      &:before
      {
        background-color: lighten(#fff, 30%);
        transition-duration: 0.5s;
        top: 0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      &:after
      {
        background-color: lighten(#fff, 30%);
        transition-duration: 0.5s;
        top: 0;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}
