<h1 style="font-size: 16px; border-bottom: 1px solid #eee;"><span><%= @email %>様</span></h1>
<div style="padding: 15px 30px;">
  <h2 style="font-size: 14px;">ご登録いただきありがとうございます！</h2>
  <p style="font-size: 10px;">
    Hiroto Shibutani (Web enginieer) のポートフォリオページにご登録いただきまして誠にありがとうございます。<br />
    当サイトでは開発者渋谷宥仁のエンジニアブログや経歴が参照でき得るものとなっております。<br />
    管理者が登録者様の情報を確認した後１〜３日以内に閲覧許可を承認しますので少々お待ちください。
  </p>
  <%= link_to '登録を確認する', confirmation_url(@resource, confirmation_token: @token), style: 'font-size: 12px; border-radius: 3px; padding: 10px 14px; color: #fff; background-color: #343a40; text-decoration: none;' %>
</div>
